#Programming assignment #5

In [ ]:
import  pandas as pd 
import  numpy as np
import  matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

## 1 Supervised learning

> Here, you are going to use the features you generated in Assignment #3 to predict the
clients response to a promotion campaign. This is a typical classification problem in the retail industry, but the formulation of the problem is similar to industries such as fraud detection, marketing and manufacturing.
>
> The clients responses are stored in the Retail_Data_Response.csv file from Kaggle. The responses are **binary: 0** for clients who responded negatively to the promotional campaign and **1** for clients who responded positively to the campaign.
>
> You will explore solving the classiâ€€cation problem with two different sets of features (i.e. annual and monthly) and three different algorithms as shown in the image below.

### 1.1 Import the monthly and annual data and join

>In Assignment #3, you created five different feature families that capture annual and monthly aggregations. Here, you will model the retail problem with two approaches: using annual and monthly features. Therefore, you need to create the joined tables based on the following
logic:

|Table | annual features outputs | monthly features outputs|
| ----------- | ----------- |----------- |
|#1| annual_features.xlsx| mth_rolling_features.xlsx|
|#2| annual_day_of_week_counts_pivot.xlsx|mth_day_counts.xlsx|
|#3| |days_since_last_txn.xlsx|
|#4| Retail_Data_Response.csv| Retail_Data_Response.csv|
> In both the annual and monthly features approach, you need to join at the end with table #4, the clients responses. This is simply a table that contains the binary response of the
client to our marketing effort as described above and that is the output or label or target
that makes this a supervised learning problem.

In [ ]:
#read kaggle data
kaggle = pd.read_csv('Retail_Data_Response.csv')

In [ ]:
#create annual features
annual_features = pd.read_excel('annual_features.xlsx')

annual_pivot = pd.read_excel('annual_day_of_week_counts_pivot.xlsx')

annual_features_outputs = pd.merge(annual_features, annual_pivot, on = 'customer_id').merge(kaggle, on = 'customer_id')
annual_features_outputs.head()

  customer_id  ann_txn_amt_ave_2011  ...  cnt_2015_Wednesday  response
0      CS1112             70.666667  ...                   1         0
1      CS1113             81.333333  ...                   1         0
2      CS1114             85.200000  ...                   0         1
3      CS1115             87.000000  ...                   0         1
4      CS1116             58.750000  ...                   0         1

[5 rows x 77 columns]

In [ ]:
#create monthly features
mth_rolling_features = pd.read_excel('mth_rolling_features.xlsx')
mth_rolling_features = mth_rolling_features.drop('Unnamed: 0', axis = 1)
mth_rolling_features = mth_rolling_features.fillna(0)

mth_day_counts = pd.read_excel('mth_day_counts.xlsx')
mth_day_counts = mth_day_counts.drop('Unnamed: 0', axis = 1)

day_since_last_txn = pd.read_excel('days_since_last_txn.xlsx')
day_since_last_txn = day_since_last_txn.drop('Unnamed: 0', axis = 1)

mth_features_outputs = pd.merge(mth_rolling_features, mth_day_counts, on = ['CLNT_NO', 'ME_DT']).merge(day_since_last_txn, on = ['CLNT_NO', 'ME_DT']).merge(kaggle.rename(columns={'customer_id': 'CLNT_NO'}), on = 'CLNT_NO')
mth_features_outputs.head()

  CLNT_NO      ME_DT  ...  days_since_last_txn  response
0  CS1112 2011-05-31  ...                   -5         0
1  CS1112 2011-06-30  ...                   15         0
2  CS1112 2011-07-31  ...                   46         0
3  CS1112 2011-08-31  ...                   12         0
4  CS1112 2011-09-30  ...                   42         0

[5 rows x 31 columns]

### 1.2 Steps for each method (10 points)

> 1. Separate the inputs X and the output y in two data frames.
> 2. Split the data in train and test set. Use a test size value of 2/3 and set the random state
equal to 1147 for consistency (i.e. the course code value). Use the following names for
consistency.

|Annual|Monthly|
| ---------------- | ----------- |
|X_train_annual  y_train_annual| X_train_monthly  y_train_monthly|
|X_test_annual  y_test_annual|X_test_monthly  y_test_monthly|
> 3. Pre-process (if necessary for the method).
> 4. Fit the training dataset and optimize the hyperparameters of the method.
> 5. Plot coeffcient values or feature importance.
> 6. Plot probability distribution for test set.
> 7. Plot confusion matrix and ROC curves of train/test set. Calculate precision/recall.
> 8. Plot decision boundary for top 2 features.

#### Part 1: Annual Features

In [ ]:
#Separate the inputs X and the output y in two data frames.
#drop customer_id and response for X_annual
X_annual = annual_features_outputs.drop(['customer_id', 'response'], axis = 1)
y_annual = annual_features_outputs['response']

In [ ]:
#Split the data in train and test set.
X_train_annual, X_test_annual, y_train_annual, y_test_annual = train_test_split(X_annual, y_annual, test_size=2/3, random_state=1147)

> 2. Split the data in train and test set. Use a test size value of 2/3 and set the random state
equal to 1147 for consistency (i.e. the course code value). Use the following names for
consistency.

|Annual|Monthly|
| ---------------- | ----------- |
|X_train_annual  y_train_annual| X_train_monthly  y_train_monthly|
|X_test_annual  y_test_annual|X_test_monthly  y_test_monthly|

> 3. Pre-process (if necessary for the method).

In [ ]:
scaler = StandardScaler()
X_train_annual = scaler.fit_transform(X_train_annual)
X_test_annual = scaler.transform(X_test_annual)

> 4. Fit the training dataset and optimize the hyperparameters of the method.

In [ ]:
#drop CLNT_NO, ME_DT and response for X_annual
X_mth = mth_features_outputs.drop(['CLNT_NO', 'response', 'ME_DT'], axis = 1)
y_mth = mth_features_outputs['response']

In [ ]:
X_train_monthly, X_test_monthly, y_train_monthly, y_test_monthly = train_test_split(X_mth, y_mth, test_size=2/3, random_state=1147)

> 5. Plot coeffcient values or feature importance.

> 6. Plot probability distribution for test set.

> 7. Plot confusion matrix and ROC curves of train/test set. Calculate precision/recall.

> 8. Plot decision boundary for top 2 features.

### 1.3 Comparison of methods (10 points)

> Compare the two feature engineering (annual and monthly) and the three modeling approaches (L1 log-reg, tree, forests) in terms of the outcomes of steps 5-8. Which combination of feature engineering and modeling approach do you select as the best to deploy in a
production environment and why? Tabularize your findings in steps 5-8 to summarize the
results and support your decision (how to organize information with tables in Markdown).